{% extends"layout.html"%}

{% block title %} Index {% endblock %}

{% block head %}{% endblock %}
{% block body %}

<div class="jumbotron text-center">

<marquee behavior="" direction="left"><H1>E_Report</H1></marquee>
<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, accusantium magni blanditiis, mollitia cupiditate amet ab voluptates nihil quo vitae ad eum ea aspernatur nemo, id sed tempore ipsam a!</p>

<a href="/sign_up" class="btn btn-primary btn-lg">Sign_Up</a>
<a href="/sign_in" class="btn btn-success btn-lg">Sign_In</a>
</div>


{% endblock %}